html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #000;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background: #000;
}

.header .container {
  height: 90px;
  background: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.skills,
.portfolio,
.video,
.price {
  padding: 0 20px;
}

.logo {
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
  width: 50px;
  height: 40px;
}

.logo:hover,
.btn-video:hover,
.social-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  cursor: pointer;
}

nav {
  margin-left: auto;
}

nav li,
.social li {
  list-style-type: none;
  display: inline-block;
}

a {
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover,
.gold {
  color: #bdae82;
}

.switch {
  font-size: 20px;
  line-height: 50px;
}

/* Гамбург-ер */
.hamburger {
  display: none;
}

.hamburger .line{
  width: 50px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

.skills-link {
  padding-right: 11px;
}

.port-link {
  padding-right: 12px;
}

.video-link {
  padding-right: 10px;
}

.price-link {
  padding-right: 11px;
}

.en {
  padding-right: 12px;
}

.slash {
  padding-right: 9px;
}

.ru {
  padding-left: 0;
  padding-right: 0;  
}


.hero {
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  padding: 160px 80px;
  position: relative;
}

.hero-content {
  width: 500px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px
}

.hero-description {
  width: 470px;
  font-size: 20px;
  line-height: 40px;
  padding-top: 8px;
}

.btn-hire {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  background-color: #bdae82;
  color: #000;
  font-size: 20px;
  line-height: 40px;
  padding: 8px 73px;
  margin-top: 26px;
  border: 0;
}

.btn-hire:hover {
  color: #fff;
  cursor: pointer;
}

.skills {
  /* height: 482px; */
  background: #000;
  padding-top: 100px;
}

.skills-heading-wrapper {
  width: 50%;
  margin: 0 auto 60px;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.shport {
  margin-bottom: 32px;
}

.skills-heading {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin: 0 auto;
  background-color: #000;
  width: 40%;
  text-align: center;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.skill-item {
  background-position: center top;
  background-repeat: no-repeat;
  width: 320px;
}

.skill-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  margin-top: 100px;
  text-align: center;
}

.skill-desc {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/retouch.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/audio.svg');
  background-size: 62px 50px;
}

.portfolio {
  /* height: 1500px; */
  padding-top: 100px;
}

.portfolio-heading {
  width: 60%;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9px;
}

.btn {
  background: #000;
  border: 1px solid #bdae82;
  color: #bdae82;
}

.portfolio-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 60px;
  justify-content: center;
}

.portfolio-pictures img {
  transition: all 0.5s;
}

.portfolio-pictures img:hover {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}


/* .video {
  height: 945px;
  padding-top: 100px;
}

.video-heading {
  width: 154px;
}

.video-player {
  background-image: url('./assets/img/video-player.jpg');
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-video {
  background: transparent;
  border: 0;
} */


.button {
  display: block;
  min-width: 1.5625rem;
  min-height: 1.5625rem;
  margin: 0;
  padding: 0;
  background: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.player {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5625rem;
  border: 2px solid #bdae82;
  -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  font-size: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.player:active,
.player:hover,
.player:focus {
  outline: 0;
  outline-offset: 0;
  border: 2px solid #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
  border: none;
}

.player:-ms-fullscreen {
  max-width: none;
  width: 100%;
  border: none;
}

.player:fullscreen {
  max-width: none;
  width: 100%;
  border: none;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%) translateY(-0.3125rem);
      -ms-transform: translateY(100%) translateY(-0.3125rem);
          transform: translateY(100%) translateY(-0.3125rem);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.3);
}

.player:hover .player__controls {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.player:hover .progress {
  height: 0.9375rem;
}

.player .player__controls__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.player .player__controls__wrapper:hover .progress {
  height: 0.9375rem;
}

.player .player__controls__wrapper .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0.3125rem;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.player .player__controls__wrapper .progress__filled {
  width: 50%;
  background: #fff8e5;
  background: -webkit-gradient(linear, left top, right top, from(#fff8e5), color-stop(50%, #e1d6b4), to(#9e8d5c));
  background: -o-linear-gradient(left, #fff8e5 0%, #e1d6b4 50%, #9e8d5c 100%);
  background: linear-gradient(90deg, #fff8e5 0%, #e1d6b4 50%, #9e8d5c 100%);
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.player .buttons__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.625rem;
}

.player .buttons__wrapper__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  min-width: 10%;
}

.player .buttons__wrapper__buttons .button__left {
  background-image: url("./assets/svg/button__left.svg");
}

.player .buttons__wrapper__buttons .button__right {
  background-image: url("./assets/svg/button__right.svg");
}

.player .buttons__wrapper__buttons .button__play {
  background-image: url("./assets/svg/button__play.svg");
}

.player .buttons__wrapper__buttons .button__play.active {
  background-image: url("./assets/svg/button__pause.svg");
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.player .buttons__wrapper__buttons .button__play.active:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.player .buttons__wrapper__ranges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 35%;
  gap: 0.625rem;
  margin: 0;
  padding: 0;
}

.player .buttons__wrapper__ranges .button__volume {
  min-width: 1.5625rem;
  background-image: url("./assets/svg/button__volume__high.svg");
}

.player .buttons__wrapper__ranges .button__volume.muted {
  background-image: url("./assets/svg/button__volume__muted.svg");
}

.player .buttons__wrapper__ranges .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 2.1875rem;
  font-size: 1.125rem;
  padding: 0;
  line-height: 0;
  border: 0;
  outline: 0;
  background: none;
  color: #ffffff;
}

.player .buttons__wrapper__ranges .volume__slider {
  min-width: 6.25rem;
  height: 1.875rem;
}

.player .buttons__wrapper__ranges .volume__slider__text {
  min-width: 3.125rem;
}

.player .buttons__wrapper__ranges .button__speed {
  min-width: 1.5625rem;
  background-image: url("./assets/svg/button__speed.svg");
}

.player .buttons__wrapper__ranges .speed__slider {
  min-width: 6.25rem;
  height: 1.875rem;
}

.player .buttons__wrapper__ranges .speed__slider__text {
  position: relative;
  min-width: 3.125rem;
}

.player .buttons__wrapper__ranges .button__fullscreen {
  min-width: 1.5625rem;
  background-image: url("./assets/svg/button__fullscreen.svg");
}

.player .buttons__wrapper__ranges .button__fullscreen.active {
  background-image: url("./assets/svg/button__smallscreen.svg");
}

.player .player__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5625rem;
  height: 0.9375rem;
  font-size: 0.625rem;
  padding: 2px 2px;
  color: #ffffff;
}

.button__play__main {
  position: absolute;
  width: 12%;
  height: 26%;
  margin: 0;
  padding: 0;
  background: 0 0;
  background-image: url("./assets/svg/play-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.button__play__main.active {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button__play__main:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 10%;
  margin: 0 0.3125rem;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 10%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #fff8e5;
  background: -webkit-gradient(linear, left top, right top, from(#fff8e5), color-stop(50%, #e1d6b4), to(#9e8d5c));
  background: linear-gradient(90deg, #fff8e5 0%, #e1d6b4 50%, #9e8d5c 100%);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 3.125rem;
  background: #796837;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 3.125rem;
  background: #bdae82;
  cursor: pointer;
}

@supports (-webkit-appearance:none){
  .player .buttons__wrapper__buttons .button__left{background-image:url("./assets/svg/button__left.svg")}
  .player .buttons__wrapper__buttons .button__right{background-image:url("./assets/svg/button__right.svg")}
  .player .buttons__wrapper__buttons .button__play{background-image:url("./assets/svg/button__play.svg")}
  .player .buttons__wrapper__buttons .button__play.active{background-image:url("./assets/svg/button__pause.svg")}
  .player .buttons__wrapper__ranges .button__volume{background-image:url("./assets/svg/button__volume__high.svg")}
  .player .buttons__wrapper__ranges .button__volume.muted{background-image:url("./assets/svg/button__volume__muted.svg")}
  .player .buttons__wrapper__ranges .button__speed{background-image:url("./assets/svg/button__speed.svg")}
  .player .buttons__wrapper__ranges .button__fullscreen{background-image:url("./assets/svg/button__fullscreen.svg")}
  .player .buttons__wrapper__ranges .button__fullscreen.active{background-image:url("./assets/svg/button__smallscreen.svg")}
}


.price {
  padding-top: 100px;
  padding-bottom: 100px;
  /* height: 845px; */
}

.price-heading {
  width: 142px;
  margin: 0 auto;
}

.price-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.box {
  width: 450px;
  height: 505px;
  border: 5px solid #bdae82;
}

.box-heading,
.box-price {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}

.box-heading {
  margin-top: 38px;
}

.box-price {
  color: #bdae82;
  margin-top: 14px;
}

.box-desc {
  margin-top: 20px;
}

.box-desc span {
  display: block;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.btn-price {
  display: block;
  margin: 40px auto;
  padding-right: 40px;
  padding-left: 40px;
}

.contacts {
  background: url('./assets/img/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
  height: 700px;
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 20px;
}

.contacts-heading {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
}

::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

input[type=tel],
input[type=email] {
  width: 450px;
  height: 50px;
  background: transparent;
  border: 1px solid #bdae82;
  padding: 5px 20px;
}

input[type=email] {
  margin-top: 40px;
  margin-bottom: 20px;
}

textarea {
  margin-top: 20px;
  padding: 5px 20px;
  background: transparent;
  color: #bdae82;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #bdae82;
  resize: none;
  height: 100px;
}

input[type=tel]:hover,
input[type=email]:hover,
textarea:hover {
  border: 2px solid #fff;
}

.btn-send {
  margin-top: 30px;
  width: 220px;
  padding: 8px 40px;
}

footer {
  background: #000;
}

footer .container {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  height: 150px;
  align-items: center;
  padding: 0 20px;
}

.github {
  margin-left: -13px;
}

.data,
.social {
  display: flex;
  gap: 20px;
}

.school {
  margin-left: 17px;
}

.social {
  width: 203px;
  gap: 5px;
}

.social-link {
  margin-top: 15px;
}

.btn-video-circle768 {
  display: none;
}


@media (max-width: 1440px) {
  .skills-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  /* .portfolio-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }*/

  .price-boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  } 
}


@media (max-width: 768px) {

  .header .container {
    background: url('./assets/img/bg768.jpg');
    padding: 0 60px;
    position: relative;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
  }

  nav {
    width: 620px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    right: -620px;
    transition: 1.2s;
  }

  nav.is-active {
    right: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 145px;
    left: 112px;
  }

  nav ul li {
    margin-bottom: 39px;
  }

  li a {
    font-size: 35px;
  }

  .hamburger {
    display: block;
    margin-right: 4px;
    margin-left: 22px;
  }

  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  .ru {
    padding-left: 10px;
  }

  .switch {
    margin-left: auto;
  }

  .hero {
    background: url('./assets/img/bg768.jpg');
    height: 500px;
    background-position: center -90px;
    background-repeat: no-repeat;
    padding: 78px 60px;
  }

  .hero-content {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    line-height: 64px;
  }

  .hero-description {
    width: 60.2%;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
  }

  .btn-hire {
    margin-top: 60px;
    border: 0;
  }

  .skills, .portfolio, .video, .price {
    padding: 0 60px;
  }

  .skills {
    /* height: 729px; */
    padding-top: 100px;
  }

  .skills-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .skills-items {
    height: 520px;
  }

  .skills-heading-wrapper {
    background-image: linear-gradient(to top, #000 19px, #bdae82 19px, #bdae82 21px, #000 21px);
    margin-bottom: 65px;
  }

  .shport {
    margin-bottom: 70px;
  }

  .skill-item:nth-child(1),
  .skill-item:nth-child(3) {
    width: calc(50% - 25px);
  }

  .skill-item:nth-child(2),
  .skill-item:nth-child(4) {
    margin-left: 20px;
    width: calc(50% - 20px);
  }

  .skill-item:nth-child(4) {
    margin-left: 20px;
    width: calc(50% - 20px);
  }

  .skill-item:nth-child(4) .skill-desc{
    width: 91%;
    margin-left: 12px;
  }

  .skill-title {
    margin-top: 80px;
  }

  .skill-desc {
    line-height: 23px;
    margin-left: 0;
    margin-right: 0;
    width: 99%;
  }

  .portfolio {
    /* height: 3870px; */
    padding-top: 104px;
  }

  .portfolio-heading {
    width: 196px;
  }

  .portfolio-buttons {
    gap: 9px;
    flex-wrap: wrap;
  }

  .btn-zero {
    margin-top: 0;
  }

  .portfolio-pictures {
    justify-content: center;
    margin-top: 54px;
  }

  .video {
    height: 628px;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  .video-player {
    background-image: url(./assets/img/video-player768.jpg);
    height: 418px;
  }

  .btn-video-circle {
    display: none;
  }

  .btn-video-circle768 {
    display: block;
  }

  .price {
    margin-bottom: initial;
    height: 1905px;
    padding-top: 100px;
  }

  .price-boxes {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 1615px;
  }

  .box {
    width: 420px;
    /* height: 505px; */
    border: 3px solid #bdae82;
  }

  .box-heading {
    margin-top: 40px;
  }

  .box-price {
    margin-top: 15px;
  }

  .btn-price {
    margin-top: 36px;
  }

  .contacts {
    background: url('./assets/img/contacts768.jpg');
    height: 600px;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .contacts-content {
    width: 58.6%;
    align-items: center;
    margin-right: 0px;
  }

  .contacts-heading {
    font-size: 32px;
    line-height: 64px;
  }

  input[type=tel], 
  input[type=email],
  textarea {
    width: 100%;
    background: rgba(0,0,0,0.5);
  }

  .btn-send {
    margin-top: 30px;
  }

  footer {
    height: 190px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }

  .data {
    margin-left: 10px;
  }

  .school {
    margin-top: -10px;
    margin-left: -1px;
  }

  .social {
    margin-left: -16px;
    margin-top: 1px;
  }
}

@media (max-width: 620px) {
  nav {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header .container {
    padding: 0 0.5rem;
  }

  .hero-description {
    font-size: 14px;
    line-height: 20px;
  }

  .btn-hire {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 50px;
  }

  .box-desc span {
    font-size: 14px;
    line-height: 33px;
  }

  .btn-price {
    padding: 8px 30px;
  }

  .skills-items {
    gap: 40px;
    height: auto;
  }

  .skills-heading-wrapper {
    width: auto;
  }

  .skill-item:nth-child(1), 
  .skill-item:nth-child(3),
  .skill-item:nth-child(2),
  .skill-item:nth-child(4) {
    width: 320px;
  }
}

/* light-theme */
.switch-theme {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 1000;
}

.switch-theme:hover {
  cursor: pointer;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.light-theme:hover {
  color: #000;
}

.skills-heading-wrapper.light-theme {
  background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
}

.ltForPortButs {
  color: #fff;
}

.btn.ltForPortButs {
  background: #fff;
  border: 1px solid #bdae82;
  color: #000;
}

.btn-hire.ltForPortButs:hover {
  background: #bdae82;
  color: #fff;
}
